html {
  font-family: Helvetica;
}

body {
  margin: 0;
}

.section {
  display: flex;
  justify-content: center;
  padding: 100px;
  min-height: 100vh;
  background-color: rgb(84, 182, 84);
}

.welcome__screen {
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 350px;
  background-color: rgb(104, 217, 217);
}

.game__name {
  padding-top: 100px;
}

.start_button {
  border-radius: 5px;
}

.game__question {
  display: flex;
  align-self: center;
  font-size: 32px;
  font-style: italic;
}

.welcome__screen {
}

.card__display {
  padding-right: 50px;
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 600px;
  width: 700px;
  background-color: rgb(104, 217, 217);
  list-style: none;
  justify-content: space-evenly;
}

.main__game_screen {
  display: flex;
  flex-direction: column;
}

.shown__card {
  border: 3px solid black;
  border-radius: 15px;
  height: 400px;
  width: 200px;
  font-size: 72;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.card__to__guess {
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  font-size: 72;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 200px;
  background-color: rgb(222, 239, 110);
}

.hidden {
  display: none;
}
